{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}

<!-- <meta http-equiv="onion-location" content="http://eallionskii7e32j3ncxnccyqq6uf7rbxwmst4x6mxeswx6fvrdtsmad.onion" /> -->

<style>#content_progress{display:none;}</style>

<section class="max-w-full prose dark:prose-invert">
		<div class="relative">
				<div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
				<div class="mx-auto max-w-7xl p-0">
						<div class="relative sm:overflow-hidden">
								<div class="fixed inset-x-0 top-0" style="z-index:-10">
										{{ $homepageImage := "" }}
										{{ with .Site.Params.defaultBackgroundImage }}
												{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
														{{ $homepageImage = resources.GetRemote . }}
												{{ else }}
														{{ $homepageImage = resources.Get . }}
												{{ end }}
										{{ end }}
										{{ with .Site.Params.homepage.homepageImage }}
												{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
														{{ $homepageImage = resources.GetRemote . }}
												{{ else }}
														{{ $homepageImage = resources.Get . }}
												{{ end }}
										{{ end }}
										{{ if $homepageImage }}
										<img class="w-full h-[1000px] object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}" role="presentation">
										{{/*
										<video
											class="w-full h-[1000px] object-cover m-0 nozoom"
											webkit-playsinline="true"
											x-webkit-airplay="true"
											playsinline="true"
											x5-video-player-type="h5"
											x5-video-orientation="h5"
											x5-video-player-fullscreen="true"
											preload="auto"
											autoplay="true"
											loop=""
											muted="">
											{{ $webmSource := resources.Get "images/video_WebTitle_batch.webm" }}
											<source src="{{ $webmSource.RelPermalink }}" type="video/webm">
											<source src="{{ $homepageImage.RelPermalink }}" type="video/mp4">
											Your browser does not support the video tag.
										</video>
										*/}}
										<div
												class="absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
										</div>
										<div
												class="opacity-60 absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
										</div>
										{{ end }}
								</div>
								<div class="relative px-1 py-1 flex flex-col items-center justify-center text-center">
										{{ with .Site.Params.Author.image }}
												{{ $authorImage := "" }}
												{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
														{{ $authorImage = resources.GetRemote . }}
												{{ else }}
														{{ $authorImage = resources.Get . }}
												{{ end }}
												{{ if $authorImage }}
														{{ if not $disableImageOptimization }}
																{{ $authorImage = $authorImage.Fill (print "288x288 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
														{{ end }}
														<div class="tailwind-ticker w-auto relative group flex items-end transition-all duration-300">
																<div class="rounded-full overflow-hidden min-w-[144px]">
																		<img class="mb-2 rounded-full h-36 w-36 nozoom" width="144" height="144"
																		alt="{{ $.Site.Params.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
																</div>
																<div class="absolute bottom-0 left-full -ml-9 mb-1 w-8 h-8 rounded-full flex items-center justify-center group-hover:w-min group-hover:h-8 group-hover:rounded-lg transition-all duration-300">
																	<div class="ticker hidden sm:flex w-9 sm:w-[226px] md:w-[295px] lg:w-[476px] min-w-[36px] transition-all duration-300">
																			<div id="ticker" class="flex">
																				<div class="ticker-header"></div>
																				<ul class="ticker-list">
																					<li class="ticker-item">
																						<a href="https://www.eallion.com/mastodon/" target="_blank" rel="noopener noreferrer">机会总是垂青于有准备的人！</a>
																					</li>
																				</ul>
																			</div>
																	</div>
																</div>
														</div>

												{{ end }}
										{{ end }}
										<h1 class="mb-2 text-4xl font-extrabold text-neutral-800 dark:text-neutral-200">
												{{ .Site.Params.Author.name | default .Site.Title }}
												{{/*	{{ T `blog_title` | safeHTML }}  */}}
										</h1>
										<h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
											<div class="min-h-7 text-base md:text-xl"> {{.Site.Params.Author.headline}} </div>
										</h2>
										<div class="my-3 text-2xl">
												{{ with .Site.Params.Author.links }}
												<div class="flex flex-wrap">
														{{ range $links := . }}
														{{ range $name, $url := $links }}
														<a class="px-1 hover:text-primary-400 text-primary-800 dark:text-primary-200" href="{{ $url }}" target="_blank"
																aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial
																"icon.html" $name }}</a>
														{{ end }}
														{{ end }}
												</div>
												{{ end }}
										</div>	
										{{ if eq .Site.Language.Lang "zh-cn" }} <!-- Show Chinese Poem  -->
										<h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
											{{/*	{{ . | markdownify }}  */}}
											<div id="poem_sentence" class="min-h-7 text-base md:text-xl">明月松间照，清泉石上流。</div>
											<div id="poem_info" class="min-h-7 text-base md:text-xl">【唐代】王维《山居秋暝》</div>
											{{/* <div id="poem_content" class="min-h-7 text-base md:text-xl">【唐代】王维《山居秋暝》</div> */}}
											{{/*	<div>{{ T `toot_motto` | safeHTML }} - <span class="italic text-base">Louis Pasteur</span></div>	*/}}
										</h2>
										{{ else }} <!-- Show English Poem  -->
										<h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
											<div id="poem_sentence_en" class="min-h-7 text-base md:text-xl">The moonlight shines between the pines, the clear spring flows over the stones.</div>
										</h2>
										{{ end }}
								</div>
						</div>
				</div>
		</div>
</section>

<section>

		<h2 class="mt-8 text-2xl font-extrabold mb-10">{{ i18n "shortcode.recent_articles" }}</h2>

		<section class="home-article w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginatedPages := .Paginate $pages }}
			{{ $filteredPages := after 0 $paginatedPages.Pages }}
			{{ range first 9 $filteredPages }}
				{{ partial "article-link/card.html" . }}
			{{ end }}
		</section>

		<div class="mt-10 flex justify-center">
		<a href="/blog">
				<button class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded" type="button">
				{{ i18n "recent.show_more" | markdownify }}
				</button>
		</a>
		</div>

</section>

<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

<script type="text/javascript">
  jinrishici.load(function(result) {
    var sentence = document.querySelector("#poem_sentence")
    var info = document.querySelector("#poem_info")
	// var content = document.querySelector("#poem_content")
    sentence.innerHTML = result.data.content
    info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
	// content.innerHTML = result.data.origin.content
  });
</script>

{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur" class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>

<script>
		const poemSentences = [
				"There is a crack in everything, that's how the light gets in.",
				"Not all those who wander are lost.",
				"Do I dare disturb the universe?",
				"Hope is the thing with feathers that perches in the soul.",
				"Where there is love there is life."
		];

		const randomIndex = Math.floor(Math.random() * poemSentences.length);
		const randomSentence = poemSentences[randomIndex];

		document.getElementById('poem_sentence_en').innerText = randomSentence;
</script>

<script>
		window.addEventListener('scroll', function (e) {
				var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
				var background_blur = document.getElementById('background-blur');
				background_blur.style.opacity = (scroll / 300)
		});

</script>
{{ end }}
