{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}

<!-- <meta http-equiv="onion-location" content="http://eallionskii7e32j3ncxnccyqq6uf7rbxwmst4x6mxeswx6fvrdtsmad.onion" /> -->

<style>#content_progress{display:none;}</style>

<section class="max-w-full prose dark:prose-invert">
		<div class="relative">
				<div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
				<div class="mx-auto max-w-7xl p-0">
						<div class="relative sm:overflow-hidden">
								<div class="fixed inset-x-0 top-0" style="z-index:-10">
										{{ $homepageImage := "" }}
										{{ with .Site.Params.defaultBackgroundImage }}
												{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
														{{ $homepageImage = resources.GetRemote . }}
												{{ else }}
														{{ $homepageImage = resources.Get . }}
												{{ end }}
										{{ end }}
										{{ with .Site.Params.homepage.homepageImage }}
												{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
														{{ $homepageImage = resources.GetRemote . }}
												{{ else }}
														{{ $homepageImage = resources.Get . }}
												{{ end }}
										{{ end }}
										{{ if $homepageImage }}
										<img class="w-full h-[1000px] object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}" role="presentation">
										{{/*
										<video
											class="w-full h-[1000px] object-cover m-0 nozoom"
											webkit-playsinline="true"
											x-webkit-airplay="true"
											playsinline="true"
											x5-video-player-type="h5"
											x5-video-orientation="h5"
											x5-video-player-fullscreen="true"
											preload="auto"
											autoplay="true"
											loop=""
											muted="">
											{{ $webmSource := resources.Get "images/video_WebTitle_batch.webm" }}
											<source src="{{ $webmSource.RelPermalink }}" type="video/webm">
											<source src="{{ $homepageImage.RelPermalink }}" type="video/mp4">
											Your browser does not support the video tag.
										</video>
										*/}}
										<div
												class="absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
										</div>
										<div
												class="opacity-60 absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
										</div>
										{{ end }}
								</div>
								<div class="relative px-1 py-1 flex flex-col items-center justify-center text-center">
										{{ with .Site.Params.Author.image }}
												{{ $authorImage := "" }}
												{{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
														{{ $authorImage = resources.GetRemote . }}
												{{ else }}
														{{ $authorImage = resources.Get . }}
												{{ end }}
												{{ if $authorImage }}
														{{ if not $disableImageOptimization }}
																{{ $authorImage = $authorImage.Fill (print "288x288 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
														{{ end }}
														<div class="tailwind-ticker w-auto relative group flex items-end transition-all duration-300">
																<div class="rounded-full overflow-hidden min-w-[144px]">
																		<img class="mb-2 rounded-full h-36 w-36 nozoom" width="144" height="144"
																		alt="{{ $.Site.Params.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
																</div>
																<div class="absolute bottom-0 left-full -ml-9 mb-1 w-8 h-8 rounded-full flex items-center justify-center group-hover:w-min group-hover:h-8 group-hover:rounded-lg transition-all duration-300">
																	<div class="ticker hidden sm:flex w-9 sm:w-[226px] md:w-[295px] lg:w-[476px] min-w-[36px] transition-all duration-300">
																			<div id="ticker" class="flex">
																				<div class="ticker-header"></div>
																				<ul class="ticker-list">
																					<li class="ticker-item">
																						<a href="https://www.eallion.com/mastodon/" target="_blank" rel="noopener noreferrer">机会总是垂青于有准备的人！</a>
																					</li>
																				</ul>
																			</div>
																	</div>
															</div>
														</div>

												{{ end }}
										{{ end }}
										<h1 class="mb-2 text-4xl font-extrabold text-neutral-800 dark:text-neutral-200">
												{{ .Site.Params.Author.name | default .Site.Title }}
												{{/*	{{ T `blog_title` | safeHTML }}  */}}
										</h1>
										{{/*	{{ with .Site.Params.Author.headline }}  */}}
										<h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
												{{/*	{{ . | markdownify }}  */}}
												<div id="poem_sentence" class="min-h-7 text-base md:text-xl">明月松间照，清泉石上流。</div>
												<div id="poem_info" class="min-h-7 text-base md:text-xl">【唐代】王维《山居秋暝》</div>
												<!-- <div id="poem_content" class="min-h-7 text-base md:text-xl">【唐代】王维《山居秋暝》</div> -->
												{{/*	<div>{{ T `toot_motto` | safeHTML }} - <span class="italic text-base">Louis Pasteur</span></div>	*/}}
										</h2>
										{{/*	{{ end }}  */}}
										<div class="my-3 text-2xl">
												{{ with .Site.Params.Author.links }}
												<div class="flex flex-wrap">
														{{ range $links := . }}
														{{ range $name, $url := $links }}
														<a class="px-1 hover:text-primary-400 text-primary-800 dark:text-primary-200" href="{{ $url }}" target="_blank"
																aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial
																"icon.html" $name }}</a>
														{{ end }}
														{{ end }}
												</div>
												{{ end }}
										</div>	
								</div>
						</div>
				</div>
		</div>
</section>

<section>

		<h2 class="mt-8 text-2xl font-extrabold mb-10">{{ i18n "shortcode.recent_articles" }}</h2>

		<section class="home-article w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginatedPages := .Paginate $pages }}
			{{ $filteredPages := after 0 $paginatedPages.Pages }}
			{{ range first 9 $filteredPages }}
				{{ partial "article-link/card.html" . }}
			{{ end }}
		</section>

		<div class="mt-10 flex justify-center">
		<a href="/blog">
				<button class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded" type="button">
				{{ i18n "recent.show_more" | markdownify }}
				</button>
		</a>
		</div>

</section>

<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

<script type="text/javascript">
  jinrishici.load(function(result) {
    var sentence = document.querySelector("#poem_sentence")
    var info = document.querySelector("#poem_info")
	// var content = document.querySelector("#poem_content")
    sentence.innerHTML = result.data.content
    info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
	// content.innerHTML = result.data.origin.content
  });
</script>

{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur" class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>

<!-- <script>
		const poemSentences = [
				"一生大笑能几回，斗酒相逢须醉倒。",
				"把酒对斜日，无语问西风。",
				"红酥手，黄縢酒，满城春色宫墙柳。",
				"被酒莫惊春睡重，赌书消得泼茶香，当时只道是寻常。",
				"把酒祝东风。且共从容。",
				"酒入愁肠，化作相思泪。",
				"白日放歌须纵酒，青春作伴好还乡。",
				"兰陵美酒郁金香，玉碗盛来琥珀光。",
				"绿蚁新醅酒，红泥小火炉。",
				"一壶酒，一竿身，快活如侬有几人。",
				"风吹柳花满店香，吴姬压酒唤客尝。",
				"酒债寻常行处有，人生七十古来稀。",
				"且就洞庭赊月色，将船买酒白云边。",
				"唯愿当歌对酒时，月光长照金樽里。",
				"新丰美酒斗十千，咸阳游侠多少年。",
				"朱弦已为佳人绝，青眼聊因美酒横。",
				"浊酒一杯家万里，燕然未勒归无计。",
				"东篱把酒黄昏后，有暗香盈袖。",
				"愁肠已断无由醉，酒未到，先成泪。",
				"昨夜雨疏风骤，浓睡不消残酒。",
				"笑尽一杯酒，杀人都市中。",
				"幸遇三杯酒好，况逢一朵花新。",
				"酒困路长惟欲睡，日高人渴漫思茶。",
				"为君持酒劝斜阳，且向花间留晚照。",
				"遥知湖上一樽酒，能忆天涯万里人。",
				"荷花开后西湖好，载酒来时。",
				"金樽清酒斗十千，玉盘珍羞直万钱。",
				"绿酒初尝人易醉。一枕小窗浓睡。",
				"且乐生前一杯酒，何须身后千载名？",
				"笑杀陶渊明，不饮杯中酒。",
				"三五年时三五月，可怜杯酒不曾消。",
				"红叶晚萧萧，长亭酒一瓢。",
				"浊酒不销忧国泪，救时应仗出群才。",
				"谁知江上酒，还与故人倾。",
				"人生有酒须当醉，一滴何曾到九泉。",
				"载酒买花年少事，浑不似，旧心情。",
				"半天凉月色，一笛酒人心。",
				"今日听君歌一曲，暂凭杯酒长精神。",
				"艰难苦恨繁霜鬓，潦倒新停浊酒杯。",
				"隔座送钩春酒暖，分曹射覆蜡灯红。",
				"水调数声持酒听。午醉醒来愁未醒。",
				"光阴虚掷。",
				"无花无酒过清明，兴味萧然似野僧。",
				"酒浓春入梦，窗破月寻人。",
				"小桥宅，怕梨花落尽成秋色。",
				"万里中原烽火北，一尊浊酒戍楼东。",
				"酒盈杯，书满架，名利不将心挂。",
				"庭轩寂寞近清明，残花中酒，又是去年病。",
				"对酒当歌，强乐还无味。",
				"他乡共酌金花酒，万里同悲鸿雁天。",
				"心断新丰酒，销愁斗几千。",
				"送行无酒亦无钱，劝尔一杯菩萨泉。",
				"白酒新熟山中归，黄鸡啄黍秋正肥。",
				"若待得君来向此，花前对酒不忍触。",
				"穷愁千万端，美酒三百杯。",
				"九日明朝酒香，一年好景橙黄。",
				"日日深杯酒满，朝朝小圃花开。",
				"吴酒一杯春竹叶，吴娃双舞醉芙蓉。",
				"小酌酒巡销永夜，大开口笑送残年。",
				"不怕风狂雨骤，恰才称，煮酒笺花。",
				"今日暂同芳菊酒，明朝应作断蓬飞。",
				"松叶堪为酒，春来酿几多。",
				"得欢当作乐，斗酒聚比邻。",
				"酒盏旋将荷叶当。莲舟荡。时时盏里生红浪。",
				"山远近，路横斜，青旗沽酒有人家。",
				"老人七十仍沽酒，千壶百瓮花门口。",
				"酒美梅酸，恰称人怀抱。",
				"残酒忆荆高，燕赵悲歌事未消。",
				"几度思归还把酒，拂云堆上祝明妃。",
				"酌酒以自宽，举杯断绝歌路难。",
				"春江花朝秋月夜，往往取酒还独倾。",
				"酒阑更喜团茶苦，梦断偏宜瑞脑香。",
				"易醉扶头酒，难逢敌手棋。",
				"酌酒会临泉水，抱琴好倚长松。",
				"断香残酒情怀恶。西风催衬梧桐落。",
				"强欲登高去，无人送酒来。",
				"落花狼藉酒阑珊，笙歌醉梦间。",
				"木兰舟上珠帘卷，歌声远，椰子酒倾鹦鹉盏。",
				"花时同醉破春愁，醉折花枝作酒筹。",
				"脱衣换得商山酒，笑把离骚独自倾。",
				"当轩对尊酒，四面芙蓉开。",
				"怀家寒食夜，中酒落花天。",
				"道傍榆荚仍似钱，摘来沽酒君肯否。",
				"漫惹炉烟双袖紫，空将酒晕一衫青。",
				"浅把涓涓酒，深凭送此生。",
				"险韵诗成，扶头酒醒，别是闲滋味。",
				"劝君终日酩酊醉，酒不到刘伶坟上土。",
				"珍重主人心，酒深情亦深。",
				"也笑人岑寂。",
				"喜得故人同待诏，拟沽春酒醉京华。",
				"感之欲叹息，对酒还自倾。",
				"酒未开樽句未裁，寻春问腊到蓬莱。",
				"报答春光知有处，应须美酒送生涯。",
				"新寒中酒敲窗雨，残香细袅秋情绪。",
				"何当载酒来，共醉重阳节。",
				"无计奈情何，且醉金杯酒。",
				"春酒香熟鲈鱼美，谁同醉？缆却扁舟篷底睡。",
				"欢言得所憩，美酒聊共挥。",
				"为我引杯添酒饮，与君把箸击盘歌。",
				"主人有酒欢今夕，请奏鸣琴广陵客。"
		];

		const randomIndex = Math.floor(Math.random() * poemSentences.length);
		const randomSentence = poemSentences[randomIndex];

		document.getElementById('poem_sentence').innerText = randomSentence;
</script> -->

<!-- <script>
		window.addEventListener('scroll', function (e) {
				var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
				var background_blur = document.getElementById('background-blur');
				background_blur.style.opacity = (scroll / 300)
		});

</script> -->
{{ end }}
